/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* Switch display mode to block, since that's what we usually want for images. */
  vertical-align: middle;
  /* If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
  padding: 10px
}

fieldset {
  width: 100%;
  padding: 1rem;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border: none;
  margin: auto;
}

th {
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
}

th:first-child {
  border-top-left-radius: 12px;
}

th:last-child {
  border-top-right-radius: 12px;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:last-child {
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

td {
  padding: 12px;
  font-size: 14px;
  color: grey;
}


.active {
  background-color: red;
}